/* IE ONLY CSS */

a.arrow:hover /* last I checked the line-through and before and after styles don't work in IE */
{
   text-decoration: underline;
   font-weight: normal;
}

body.width_fmax div#wrapper {
	width: expression(((document.body.clientWidth)) < 751? "750px": ((document.body.clientWidth)) > 1050? "1050px": "auto" );
}

div.module_menu div div div {
	width: 100%;
}

div#footer {
	width: 100%;
}

/*
 * Changed div#whitebox_b to div#page_body (hope that's OK?)
 */
div#page_body
{
   width: 100%;
}
